<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="dirpath" value="C:\\Users\\dalehu\\Documents\\Stocks\\"/>
        <add key="tickers" value="ABBV,AMCR,BGS,GILT,ICE,T,TM,XOM"/>
        <add key="ABBV" value="1740000000"/>
        <add key="BGS" value="63110000"/>
        <add key="GILT" value="37110000"/>
        <add key="ICE" value="557870000"/>
        <add key="T" value="7130000000"/>
        <add key="TM" value="1060000000"/>
        <add key="XOM" value="4220000000"/>
    </appSettings>
</configuration>